<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/education.css">
    
</head>
<body>
    <section class="header">
        <nav>
            <img src="~/Photos/vase.png">
            <div class="nav-links" id="navLinks">
                <img src="~/Photos/closing.png" class="fa" style="width:15px; height: 15px" onclick="hideMenu()" />
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">HOME <span>&vert;</span></a></li>
                    <li><a asp-controller="Locations" asp-action="Index">Cultural Locations <span>&vert;</span></a></li>
                    <li><a asp-controller="Intangible" asp-action="Index">Intangible Heritage <span>&vert;</span></a></li>
                    <li><a asp-controller="Tangible" asp-action="Index">Tangible Heritage <span>&vert;</span></a></li>
                    <li><a asp-controller="Home" asp-action="Education">Education <span>&vert;</span></a></li>
                    <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                </ul>
            </div>
            <img src="~/Photos/menu.png" style="width:25px; height: 25px" class="fa" onclick="showMenu()" />
        </nav>
        <div class="text-box">
            <h1>Discover more about Cultural Heritage</h1>
        </div>
    </section>

    <section class="courses">
        <h1> Watch Cultural Heritage Courses</h1>
        <div class="row">
            <div class="courses-col">
                <h4>Cultural Heritage Management</h4>
                <p>
                    Cultural heritage management involves the strategic planning, preservation, conservation, and promotion of various aspects of
                    cultural heritage within a given society or community. It encompasses a range of activities aimed at safeguarding and sustaining
                    cultural heritage for present and future generations.
                    The objectives of cultural heritage management typically revolve around: Preservation and Conservation, Promotion and Education,
                    Sustainable Development, Community Engagement and Participation.
                </p>
            </div>
            <div class="courses-col">
                <iframe width="500" height="315" src="https://www.youtube.com/embed/videoseries?si=RwrkHLmTG24R42jn&amp;list=PLbei-sAWFFVpJHx_Et2UJc3VVEFtWZrjZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="courses">
        <div class="row">
            <div class="courses-col">
                <h4>What is Cultural Heritage</h4>
                <p>
                    Cultural Heritage Course delves into the rich and diverse tapestry of human history, traditions, art, architecture, 
                    and practices that define various societies. It explores the significance and preservation of tangible and intangible 
                    cultural elements, imparting insights into the importance of safeguarding and promoting heritage for future generations. 
                    Through interdisciplinary studies, these courses cover topics such as heritage management, preservation techniques, community 
                    engagement, and the role of cultural heritage in sustainable development. Participants learn to appreciate, analyze, 
                    and contribute to the conservation and dissemination of cultural legacy, fostering a deeper understanding and respect for 
                    global heritage.
                </p>
            </div>
            <div class="courses-col">
                <iframe width="500" height="315" src="https://www.youtube.com/embed/CbnXgvCOuIg?si=aoIa4Wbelthq5yKh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
    </section>

    <section class="courses">
        <div class="row">
            <div class="courses-col">
                <h4>Intangible Cultural Heritage</h4>
                <p>
                    An Intangible Cultural Heritage Course is an educational program focused on the invaluable aspects of culture 
                    that aren't tangible or physical but are deeply rooted in traditions, beliefs, expressions, and practices of communities worldwide. 
                    This course explores diverse elements like oral traditions, performing arts, rituals, social practices, craftsmanship, and 
                    traditional knowledge systems. It aims to understand, document, preserve, and transmit these intangible cultural expressions 
                    across generations. Through interdisciplinary approaches, learners study the significance of intangible heritage in shaping 
                    identities, fostering social cohesion, and contributing to sustainable development. Participants gain insights into safeguarding 
                    and promoting these rich cultural expressions, recognizing their profound impact on societies and global diversity.
                </p>
            </div>
            <div class="courses-col">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/d9ZHj4ihTog?si=WpKwfkNkCZcT2r_N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="courses">
        <div class="row">
            <div class="courses-col">
                <h4>Indian Cultural Heritage - Indian Culture and Tradition</h4>
                <p>
                    An Indian Cultural Heritage Course is a comprehensive study of the multifaceted and rich heritage that encapsulates India's 
                    diverse cultural tapestry. This course delves into the depth and diversity of India's traditions, encompassing its ancient history, 
                    art, architecture, literature, music, dance, festivals, philosophies, religions, and languages. It offers a holistic understanding 
                    of India's cultural legacy, tracing its evolution across centuries and exploring the influences and contributions of various 
                    civilizations and dynasties.
                <br />
                    Students engage with India's cultural heritage through an interdisciplinary approach, exploring its regional variations, 
                    traditions, and customs. They gain insights into the spiritual and philosophical underpinnings that shape Indian culture, 
                    discovering its global impact and relevance in contemporary society. Through this course, learners appreciate India's rich 
                    heritage, understand its significance in shaping identities, fostering cultural pride, and contributing to the world's cultural 
                    mosaic.
                </p>
            </div>
            <div class="courses-col">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lK3oqU2WNY0?si=1XEgWTk8aCkrjki6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </div>
    </section>



    <section class="playQuiz">
        <h1> Play Cultural Heritage Quiz  </h1>
        <div class="quiz-container">
            <h1>Cultural Heritage Quiz</h1>
            <div class="quiz">
                <h2 id="question"></h2>
                <div id="answer-buttons">
                    <button class="btn">Answer 1</button>
                    <button class="btn">Answer 2</button>
                    <button class="btn">Answer 3</button>
                    <button class="btn">Answer 4</button>
                </div>
                <button id="next-btn">Next</button>
            </div>

        </div>
    </section>




    @*Footer*@

    <section class="footer">
        <h4>About Us</h4>
        <p>
            Create. Protect. Share.
        </p>
        <div class="icons">
            <img src="~/Photos/face-logo.png" class="logo" />
            <img src="~/Photos/insta-logo.png" class="logo" />
            <img src="~/Photos/tik-tok-logo.png" class="logo" />
            <img src="~/Photos/x-logo.png" class="logo" />
        </div>
    </section>



    @*JavaSript for Toggle Menu*@
    <script src="~/js/site.js"></script>
    <script src="~/js/education.js"></script>

</body>
</html>